:root {
    --logo-color: #FFF;
    --accent-color: #49464F;
    --text-color: #2E2C34;
    --main-color: #7140EB;
    --background-gradient: linear-gradient(to bottom, #ffffff, #f0f0f0); 
}

.body {  
    margin: 0;  
    font-family: 'Roboto', sans-serif;  
    background: var(--background-gradient);  
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
    outline: 1px solid red;
}
.header{
 background: url(../img/fone.jpg) lightgray 50% / cover no-repeat;
}
.header-img{
width: 124px;
height: 70px;
flex-shrink: 0;
}
.start-box{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
    text-align: center;
}
.header-title {  
    width: 540px;  
    color: var(--logo-color);  
    font-size: 99px;  
    font-style: normal;  
    font-weight: 400;  
    line-height: 1.12;   
    letter-spacing: 5px;  
   margin-top: 153px;
    margin-bottom: 37px;
}  
.header-text{
    width: 293px;
color: var(--logo-color);
text-align: center;
font-size: 21px;
font-weight: 400;
line-height: 1.10; 
display: flex;
}
.header-list {  
    display: flex;  
    justify-content: space-between;  
    align-items: center;  
    width: 100%; 
    max-width: 1200px;      
    padding: 0; 
    list-style-type: none; 
}  

.header-item {  
    color: var(--logo-color); 
    font-size: 18px;  
    font-weight: 400;  
    line-height: 1.07;   
    margin: 0 15px; 
}  

.header-logo {  
    margin-right: auto;
}  
.header-btn {  
    background-color: #6a5acd;
    color: var(--logo-color);
    font-size: 18px;  
    font-weight: 400;  
    border: none;  
    border-radius: 999px; 
    cursor: pointer; 
    padding-top: 11px;
    padding-bottom: 12px;
    padding-left: 51px;
    padding-right: 51px;
}  

/* start */


.start-btn{
flex-shrink: 0;
border-radius: 999px;
background: #7140EB;
color: var(--logo-color);
font-size: 18px;  
font-weight: 400; 
border: none; 
padding-top: 11px;
padding-bottom: 12px;
padding-left: 51px;
padding-right: 51px;
margin-top: 57px;
margin-bottom: 183px;
}
.start-now{
    background: url(../img/fone.jpg) lightgray 50% / cover no-repeat;

}

/* work */

.main-title {  
width: 449px;
color: var(--text-color);
font-size: 67px;  
font-weight: 400;  
line-height: 0.99;   
margin-bottom: 71px;  
}    
.main-item {  
    width: 100%; 
    color: var(--accent-color);
    font-size: 28px;  
    font-weight: 400;  
    line-height: 1.22; 
    margin-bottom: 10px;  
}  
.main-box{
    display: flex;
    align-items: center;
    text-align: center;
}
.main-btn {  
    flex-shrink: 0;  
    border-radius: 999px;  
    background-color: var(--main-color); 
    color: var(--logo-color);  
    font-size: 18px;  
    font-weight: 400;   
    border: none;   
    padding: 11px 51px;  
    margin-top: 71px;
}  



/* <!-- Move your way --> */

.move-title{
width: 449px;
color: var(--text-color);
font-size: 67px;
font-weight: 400;
line-height: 0.99;
margin-left: 118px;
margin-top: 68px;
}
.move-item{
width: 435px;
color: var(--text-color);
font-size: 20px;
font-weight: 400;
line-height: 1.24;
margin-left: 123px;
margin-top: 27px;
}
.move-list{
    display: flex;
}
.move-img{
margin-top: 115px;
}
.move-box{
width: 36px;
color: var(--accent-color);
font-size: 18px;
font-weight: 400;
line-height: 1.2;
}
.move-text{
width: 41px;
color: var(--accent-color);
font-size: 17px;
font-weight: 400;
line-height: 1,27; 
}
.discounted-price{
width: 36px;
color: var(--accent-color);
font-size: 18px;
font-weight: 400;
line-height: 1.2; 
}
.move-span{
    width: 25px;
color: var(--accent-color);
font-size: 17px;
font-weight: 400;
line-height: 1.2;
}
.move-span{
width: 87px;
color: var(--main-color);
font-size: 16px;
font-weight: 400;
line-height: 1,5; 
}
.move-name{
width: 210px;
color: var(--accent-color);
font-size: 29px;
font-weight: 400;
line-height: 1,18;
}
.move-type{
width: 44px;
color: var(--accent-color);
font-size: 18px;
font-weight: 400;
line-height: 1,18;
}
.move-button {  
width: 180px;
height: 61px;
flex-shrink: 0;
background: transparent;   
border: 1px solid #000; 
border-radius: 20px; 
padding-top: 22px;
padding-bottom: 22px; 
cursor: pointer; 
margin-top: 11px; 
}  


/* ride */
.ride-title{
width: 426px;
color: var(--text-color);
font-size: 67px;
font-weight: 400;
line-height: 0,99;
}
.ride-text{
width: 313px;
color: var(--text-color);
font-size: 18px;
font-weight: 400;
line-height: 1.2;
}
.ride-btn{  
width: 81px;
color: var(--text-color);
flex-shrink: 0;
background: transparent;   
border: 1px solid #000; 
border-radius: 20px; 
padding-top: 22px;
padding-bottom: 22px; 
cursor: pointer; 
margin-top: 39px; 
margin-bottom: 85px;
padding-top: 12px;
padding-bottom: 12px;
width: 180px;
height: 40px;
flex-shrink: 0;
}  
.ride-img{
width: 597px;
height: 378px;
flex-shrink: 0;
}


/* <!-- city --> */
.city {  
    background-image: url(../img/cityfone.jpg);  
    background-size: cover;  
    color: var(--logo-color);
    flex-direction: column;  
    justify-content: center;   
}  

.city-title{
width: 319px;
font-size: 65px;
font-weight: 400;
line-height: 1.02;
}
.city-text{
width: 242px;
color: var(--logo-color);
font-size: 21px;
font-weight: 400;
line-height: 1.18;
}
.city-btn{
flex-shrink: 0;
border-radius: 999px;
background: #7140EB;
color: var(--logo-color);
font-size: 18px;  
font-weight: 400; 
border: none; 
padding-top: 20px;
padding-bottom: 23px;
padding-left: 51px;
padding-right: 51px;
margin-top: 29px;
margin-bottom: 33px;
}
.city-text{
color: var(--logo-color);
font-size: 18px;
font-weight: 400;
line-height: 1.35;
}
.city-title{
width: 280px;
color: var(--logo-color);
text-align: right;
font-size: 100px;
font-weight: 400;
line-height: 111.192px; 
letter-spacing: 5px;
}


 /* <!-- You’re in charge --> */


 .charge-title{
width: 248px;
color: var(--text-color);
font-size: 65px;
font-weight: 400;
line-height: 1,02;
 }
 .charge-text{
width: 252px;
color: var(--text-color);
font-size: 21px;
font-weight: 400;
line-height: 1,18;
 }
.charge-list{
width: 171px;
color: var(--accent-color);
font-size: 16px;
font-weight: 400;
line-height: 21.6px;
}
.charge-img{
width: 286px;
height: 227px;
flex-shrink: 0;
}
.charge-text{
width: 41px;
color: var(--accent-color);
font-size: 17px;
font-weight: 400;
line-height: 1.27;
}
.charge-price{
width: 35px;
color: var(--accent-color);
font-size: 18px;
font-weight: 400;
line-height: 1.2;
}
.charge-text{
width: 25px;
color: var(--accent-color);
font-size: 17px;
font-weight: 400;
line-height: 1.27;
}
.charge-label{
    width: 25px;
color: var(--main-color);
font-size: 17px;
font-weight: 400;
line-height: 1.2;
}
.charge-title{
width: 210px;
color: var(--text-color);
font-size: 29px;
font-weight: 400;
line-height: 1.18;
}
.charge-text{
width: 44px;
color: var(--text-color);
font-size: 18px;
font-weight: 400;
line-height: 1.2;
}
.charge-btn{
flex-shrink: 0;
border-radius: 999px;
background: #7140EB;
color: var(--logo-color);
font-size: 18px;  
font-weight: 400; 
border: none; 
padding-top: 20px;
padding-bottom: 23px;
padding-left: 54px;
padding-right: 54px;
margin-top: 12px;
margin-bottom: 106px;
}

  /* <!-- Want to --> */


 .want-ttitle{
width: 235px;
color: var(--text-color);
font-size: 67px;
font-weight: 400;
line-height: 0.99;
  }
  .want-btn{  
width: 81px;
color: var(--text-color);
flex-shrink: 0;
background: transparent;   
border: 1px solid #000; 
border-radius: 20px; 
padding-top: 22px;
padding-bottom: 22px; 
cursor: pointer; 
margin-top: 39px; 
margin-bottom: 85px;
padding-top: 12px;
padding-bottom: 11px;
width: 180px;
height: 39px;
flex-shrink: 0;
}
.want-list li {  
    position: relative; 
    padding-left: 30px; 
    color: var(--text-color);  
    font-size: 21px;  
    font-weight: 400;  
    line-height: 1.18;  
}  

.want-list li::before {  
    content: ""; 
    background-image: url(../img/plus.png);   
    background-repeat: no-repeat;   
    position: absolute; 
    left: 0;  
    top: 50%; 
    transform: translateY(-50%);    
    width: 18px;
    height: 17px;
    flex-shrink: 0;
} 


/* friends */


.friends-title{
width: 683px;
color: var(--accent-color);
font-size: 66px;
font-weight: 400;
line-height: 1,01;
}
.friends-item{
width: 246px;
color: var(--accent-color);
font-size: 29px;
font-weight: 400;
line-height: 0.98;
}
.friends-text{
width: 92px;
color: var(--accent-color);
font-size: 17px;
font-weight: 400;
line-height: 1.42;
}


/* speed */


.footer-speed{
background: url(../img/fone.jpg) lightgray 50% / cover no-repeat;
}
.footer-title{
width: 217px;
color: var(--logo-color);
font-size: 29px;
font-weight: 400;
line-height: 1,18; 
}
.footer-text{
width: 286px;
color: var(--logo-color);
font-size: 16px;
font-weight: 400;
line-height: 1,5;
}
.email-input{
width: 314px;
height: 54px;
flex-shrink: 0;
border-radius: 10px;
background-color: var(--logo-color)
}
.sped-text{
width: 259px;
color: var(--logo-color);
font-size: 14px;
font-weight: 400;
line-height: 1,5;
}
.footer-menu{
width: 42px;
color: rgba(255, 255, 255, 0.50);
font-size: 16px;
font-weight: 400;
line-height: 1,5;
}
.footer-list{
width: 40px;
color: var(--logo-color);
font-size: 16px;
font-weight: 400;
line-height: 1,5;
}